body {
    background-color:rgb(24, 218, 218);
}

h1 {
    font-size: 7rem;
    text-align : center;
}
h2 {
    font-size: 3rem;
    text-align : center;
}
.RPS {
    display : flex;
    justify-content: center;
    font-size: 10rem;
}

button {
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color : rgb(61, 131, 189);
    border-radius: 15px;
    font-size: 5rem;
    color: white;
    border-color: black;
    border-width: 10px;  
}
.RPS span:hover {
    transition: 150ms;
    opacity: 50%;
}